@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




/* +++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- GERAIS - BODY TEXT --------------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    font-weight: 400;
    color: #898989;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;
}

h4,
h5,
h6{
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 0;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 17px;
}

h6{
    font-size: 16px;
}

p {
    font-size: 15px;
    line-height: 1.2;
    margin: 0;
}

.special{
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
}
.strong{
    font-weight: 700;
}

small{
    font-size: 65%;
    line-height: 1;
}

.action-text{
    font-size:59px;
    line-height: 59px;
    margin-bottom: 5px;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- GERAIS - BODY COLOR --------------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.text-primary {
    color: #2B2869 !important;
}

.text-secondary {
    color: #1AA0E1 !important;
}

.text-gray {
    color: #898989 !important;
}

.text-white {
    color: #FFFFFF;
}

.text-muted{
    color:#737373;
}

.text-gray-dark{
    color:#343E59;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- GERAIS - BODY IMAGENS --------------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.responsive_img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.img-fluid-v {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}


.main{
    min-height: 200px;
    padding: 20px 0;
    position: relative;
}

.mb-7{
    margin-bottom: 5rem;
}
.backdrop:after {
    content: " ";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 1;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- GERAIS BODY HACKING ---------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
 @media (min-width:1300px) {
    .container {
        max-width: 1100px;
    }
}

ul{
    margin: 0;
    list-style: none;
    padding: 0;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.pb-none{
    padding-bottom: 0!important;
}

.hide {
    display: none !important;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- GERAIS BODY BACKGROUND ---------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.bg-white {
    background-color: #FFFFFF;
}

.bg-white-light {
    background-color: #E5E5E5;
}

.bg-white-middle {
    background-color: #F8F8F8;
}

.bg-blue {
    background-color: #1AA0E1;
    color:#fff;
}
.bg-blue-middle{
    background-color: #2B2869;
    color:#fff;
}
.bg-blue-dark {
    background-color: #242246;
    color:#fff;

}
.bg-gray{
    background-color:#E9EBE6;
    color:#C8C8C8;
}
.bg-gray-light{
    background-color:#F8F8F8;
}
.bg-gray-middle{
    background-color:#EEF1F4;
}

.bg-gray-dark{
    background-color:#DAE5F2;
    color:#343E59;
}

.bg-orange{
    background-color:#FF9900;
    color: #fff;

}

.bg-transparent{
    background-color: transparent;
}

.bg-green{
    background-color: #00A651;
    color: #fff;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- GERAIS BODY BUTTONS ---------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


.btn {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.2;
    max-height: 42px;
    padding: 13px 40px;
}

.btn.btn-medium {
    max-height: 36px;
    padding: 10px 25px;

}

 .btn:hover,
 .btn:focus,
 .btn:active {
     box-shadow: none!important;
     outline: none !important;
 }

 .btn-primary {
     background-color: #05377E;
     border: 1px solid #05377E;
 }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color:  #032e6b;
    border: 1px solid  #032e6b;
}

 .btn-secondary {
     background-color: #1AA0E1;
     border: 1px solid #1AA0E1;
 }

 .btn-secondary:hover,
 .btn-secondary:focus,
 .btn-secondary:active,
 .btn-secondary:not(:disabled):not(.disabled):active {
     background-color: #1791ce;
     border: 1px solid #1791ce;
 }


 .btn-icon {
     display: flex;
     justify-content: center;
     align-items: center;
 }


 .icon-btn {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: 8px;
 }

 .icon-btn i {
     font-size: 12px;
 }

 .icon-btn i.icon-lg {
     font-size: 18px;
     margin-left: 8px;
 }

 .btn-action{
    box-shadow: 0px 6px 0 rgba(5, 55, 126, .36)!important;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s;
 }

 .btn-action:hover{
    box-shadow: 0px 6px 0 rgba(5, 55, 126, .46)!important;
    transition: all 0.3s;
 }

 .btn-action:focus,
 .btn-action:active{
    box-shadow: 0px 5px 0px rgba(5, 55, 126, .46)!important;
    transition: all 0.3s;
 }

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++
 ------------- HEADERS ---------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.header_page_login{
    display: flex;
    align-items: center;
    max-height: 81px;
    padding: 7px 40px 13px;
}
.brand-icon-profile{
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 52px;
    margin-right: 15px;
    color:#fff;
}

a.brand-icon-profile:hover{
    color:#fff;
}

.brand-data-profile{
    font-size: 16px;
    color:#fff;
}

.dropdown-menu {
    left:initial;
    right: 0px;
    min-width: 20rem;
}

@media screen and (max-width:575px){
    .header_page_login{        
        max-height: initial;
        padding: 10px 0px;
    }

    .navbar-toggler{
        color:#fff;
    }
    .link-especial{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++
 ------------- WRAPPER ---------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.wrapper{
    width: 100%;
    min-height: calc(100vh - 81px);
    display: flex;
    align-items: stretch;
    background-color: #898989;
    position: relative;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++
 ------------- SIDEBAR ---------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.sidebar{
    position: relative;
    top: 0;
    bottom: 0;
    width:100%;
    max-width: 268px;
    padding: 50px 10px;
}
.sidebar-menu{
     padding: 0 30px;
     margin-bottom: 60px;
}
.item-menu{
    border:1px solid #fff;
    border-radius: 7px;
}
.icon-menu{
    font-size: 13px;   
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-menu{
    margin-left: 12px;
}

.item-menu a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;width: 100%;
    padding: 10px;
    font-size: 15px;
    background-color: transparent;
}

.item-menu a:hover{
    text-decoration: none;
    background-color: #18162e;
    border-radius: 7px;
}

.content-help{
    padding: 20px;
    border-radius: 23px;
    text-align: center;
    margin: auto;
}


.content-help h3{
    font-size:15px;
    margin-bottom: 8px;
}

.content-help p{
    font-size:10px;
    color:#fff;
    line-height: 1.3;
}

.content-help a,
.content-help a:hover{
    font-size:10px;
    color:#fff;
    font-weight: 600;
}


@media screen and (max-width:768px){
    .sidebar{
        position: relative;
        left: 0px;
        width: 100px;
        padding: 50px 10px;
        -webkit-transition: width .2s ease-in-out;
        -moz-transition: width .2s ease-in-out;
        -o-transition: width .2s ease-in-out;
        transition: width .2s ease-in-out;        
    }

    .sidebar.show{
        position: relative;
        left: 0;
        z-index: 10;
        width: 100%!important;
        max-width: 268px;
        -webkit-transition: width .2s ease-in-out;
        -moz-transition: width .2s ease-in-out;
        -o-transition: width .2s ease-in-out;
        transition: width .2s ease-in-out;
    }
    
    .sidebar-menu{
        padding: 0 10px;
    }

    .sidebar.show .sidebar-menu{
        padding: 0 30px;
   }

    .sidebar .title-menu{
        display: none;
    }

    .sidebar.show .title-menu{
        display: flex;
    }
    .sidebar-control{
        position: absolute;
        bottom: 0;
        left:0;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top:1px solid #fff;
    }

    .sidebar .content-help{
        display: none;
    }
    .sidebar.show .content-help{
        display: block;
    }

    .button-sidebar{
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .icon-control::before{
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f101";
        font-size:20px
    }

    .sidebar.show .icon-control::before{
        font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f100";
    }
}

@media screen and (max-width:575px){
    .sidebar{
        position: absolute;
        left: -500px;
        width: 268px;
        padding: 50px 10px;
        -webkit-transition: width .2s ease-in-out;
        -moz-transition: width .2s ease-in-out;
        -o-transition: width .2s ease-in-out;
        transition: width .2s ease-in-out;
    }

    .sidebar.show{
        position: absolute;
        left: 0;
        right: 0;
        z-index: 10;
        width: 100%!important;
        max-width: 425px;
        -webkit-transition: width .2s ease-in-out;
        -moz-transition: width .2s ease-in-out;
        -o-transition: width .2s ease-in-out;
        transition: width .2s ease-in-out;
        
    }

    .sidebar .sidebar-control {
        position: absolute;
        bottom: 0;
        left: initial;
        right: -280px;
        background: #242246;
        width: 50px;
        z-index: 16;
       
    }

    .sidebar.show .sidebar-control {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++
 ------------- WRAPPER-CONTENT ---------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.wrapper-content{
    position: relative;
    width: 100%;
    top: 0;
    bottom: 0;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++
 ------------- Main ---------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
 .main{
    padding: 50px 32px;
}

.footer{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 16px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.brand-footer{
    width: 90px;
    height: 23px;
    margin-bottom: 10px;
}
.text-footer p{
    font-size: 8px;
    color: #24387F;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -------------  HOME RESTRITA PAGE ---------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.header-content{
    width: 100%;
    padding: 0;
    margin-bottom: 45px;
}
.content-title{
   margin-bottom: 15px;
}
.content-title h2{
    font-size: 24px;
    line-height: 1.2;
}

.choice-action{
    padding: 35px 20px;
    border-radius: 15px;
    display: flex;
}

.choice-action:hover{
    color: #f0f0f0f0 ;
    text-decoration: none;
}

.choice-action.bg-gray:hover{
    color: #b5b5b5f2 ;
    text-decoration: none;
}
.icon-choice{
   width:85px; 
   height: 85px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 25px;
}

.description-choice{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++
 ------------- CARDS ---------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

 .card {
    padding: 20px 30px;
    border-radius: 10px;
    position:relative;
    border:none;
    /* box-shadow: 0px -13px 105px rgba(0, 0, 0, 0.12), 0px -3.91912px 31.6544px rgba(0, 0, 0, 0.0781907), 0px -1.6278px 13.1476px rgba(0, 0, 0, 0.06), 0px -0.588744px 4.75524px rgba(0, 0, 0, 0.0418093); */
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
    width: 100%;
}
.card-header,
.card-body{
    position: relative;
}

.card-login{
    border-radius: 26px;

}

.card.card-nopad{
    padding: 0;
    overflow: hidden;

}

.card.card-border{
    border: 1px solid rgba(224, 224, 224, .5);
    box-shadow:  0px 1px 3px rgb(0 0 0 / .1);
}

.card-header,
.card-body{
    background-color: inherit;
    border: none;
    padding: 15px 20px;
}

.card-header-title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.card-header-title .card-title-icon{
    font-size: 27px;
    margin-right: 20px;
    line-height: 1;
}



@media screen and (max-width:990px){
    .card{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}